{# filepath: /c:/Users/admin/Desktop/tp symfony/tpsymfo/templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ path('app_reservation') }}">Mes Réservations</a></li>
            <li><a href="{{ path('app_reservation_new') }}">Nouvelle Réservation</a></li>
            <li><a href="{{ path('app_all_reservations') }}">Toutes les Réservations</a></li>
        </ul>
    </nav>

    {% block body %}{% endblock %}
</body>
</html>